/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

#Formulaire_login,#Formulaire_mdp
{
	border: 50px;
	text-align: center;
}
#erreurmsg
{
	text-align: center;
	color : red;
}

.form_login{
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.form_inscription{
	width: 300px;
}

#img-list{
	width: 300px;
	height: 150px;
	margin-bottom: 1px
}

#case-jeux{
	width: 304px;
	margin: 20px 15px 0px 15px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
	padding: 0px;
}

#nom-jeux{
	font-size: 18px;
}

#img-vue{
	width: 400px;
	height: 250px;
	margin: 20px;
}

#info-jeu{
	margin-top: 30px;
}